@import url("https://use.typekit.net/gpc1bxl.css");

body {
    margin: 0;
    padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}

body {
    background-color: black;
    color: white;
    font-family: "p22-flw-midway-one", sans-serif;
    text-align: center;
}

h1 {
    
}

p {

}