@import '../home.css';

body {
    /* font-family: "p22-flw-midway-one", sans-serif; */
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    width: 80vh;
    height: auto;
}

.cursor {
    cursor: pointer;
    font-size: 3em;
    font-weight: bold;
}

.cursor.canada {
    color: red;
}

.cursor.canada a {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: red;
    padding: 0.2em 0.5em;
    color: white;
    text-decoration: none;
    border-radius: 0.2em;
}

.cursor.dance {
    color: darkmagenta;
    font-family: "p22-flw-midway-one", sans-serif;
}

.cursor.food {
    color: orange;
}

.cursor.food a {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: orange;
    padding: 0.2em 0.5em;
    color: white;
    text-decoration: none;
    border-radius: 0.2em;
}

.cursor.food body {
    background-color: lightblue;
}

.cursor.canada:hover {
    cursor: url(../images/cursor.cur) 0 0, auto;
}

.cursor.dance:hover {
    color: gold;
}

.cursor.dog a {
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-color: black;
    padding: 0.2em 0.5em;
    color: white;
    text-decoration: none;
    border-radius: 0.2em;
}